* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/1024/background.jpg');
    background-size: cover;
}

hr {
    margin: 1vw;
    height: 1px;
    border: none;
    background: rgba(31, 59, 220, 0.6);
    color: rgba(31, 59, 220, 0.6);
}

.field {
    margin: 0 auto;
    min-width: 310px;
    min-height: 310px;
    width: 310px;
    height: 310px;
}

.comments {
    position: absolute;
    color: #fff;
    opacity: 0.9;
    margin: 31% 69%;
    text-align: center;
    font-size: 24px;
}

#comment {
    margin-top: 1vh;
}

input {
    height: 50px;
    width: 300px;
    padding-left: 10px;
    border: 1px solid rgba(39, 200, 255, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.15);
    color: #b3b2b2;
}

.rating {
    min-width: 400px;
    min-height: 100px;
    width: 400px;
    height: 100px;
    padding-top: 22.5%;
    margin: 6.5%;
    text-align: center;
    color: rgb(222, 222, 222);
    opacity: 0.9;
    font-size: 12px;
}

.rateColumn {
    opacity: 0.9;
    min-width: 400px;
    min-height: 100px;
    width: 400px;
    height: 100px;
}

.tableTemplate {
    float: right;
    list-style: none;
    position: absolute;
    min-width: 400px;
    min-height: 400px;
    width: 400px;
    height: 400px;
}

#scores {
    margin: 3.5% 69%;
}

#comments {
    margin: 3.5% 7%;
}

.tableTemplate thead th, tfoot th {
    font-family: 'Rock Salt', cursive;
}

.tableTemplate tr {
    color: #ffffff;
    opacity: 0.9;
}

.tableTemplate th {
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-spacing: 2vw;
    border-bottom: 1px solid rgba(31, 59, 220, 0.5);
    letter-spacing: 3px;
}

.tableTemplate td {
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    border-bottom: 1px solid rgba(31, 59, 220, 0.7);
    letter-spacing: 2px;
}

.tableTemplate tbody td {
    text-align: center;
}

.tableTemplate tfoot th {
    text-align: center;
}

.top-panel {
    width: 100vw;
    height: 5vh;
    background-color: rgba(20, 20, 20, 0.9);
    padding-top: 2vh;
    color: rgb(222, 222, 222);
}

.bottom-panel {
    width: 100vw;
    height: 5vh;
    position: fixed;
    bottom: 0;
    left: 0;
    top: auto;
    right: auto;
    padding-top: 1.8vh;
    background-color: rgba(20, 20, 20, 0.9);
    color: rgb(222, 222, 222);
}

#text-before-creator {
    padding-left: 1vw;
}

#text-before-logged-user {
    padding-left: 1vw;
}

#text-before-not-logged-user {
    padding-left: 1vw;
}

.nav-area {
    float: right;
    list-style: none;
    padding-right: 1vw;
}

.nav-area li {
    display: inline-block;
}

.nav-area li a {
    margin-top: 3vh;
    color: #fff;
    opacity: 0.9;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 20px;
}

.nav-area li a:hover {
    background: #fff;
    color: #333;
    opacity: 0.9;

}

.welcome-text {
    top: 0;
    left: 0;
    width: 25%;
    margin: 1% 37%;
    text-align: center;
}

.welcome-text h1 {
    text-align: center;
    color: #fff;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 21px;
}

.container {
    position: absolute;
    color: #fff;
    margin: 2% 39%;
    opacity: 0.9;
    text-align: center;
    font-size: 17px;
}

.container a {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.25rem;
    position: relative;
    margin: 32px;
}

.btn-1 {
    overflow: hidden;
    color: #fff;
    opacity: 0.9;

    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-1::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: #ff3CAC;
    background-image: linear-gradient(225deg, #27D86C 0%, #26CAF8 50%, #C625D0 100%);
    opacity: 0.7;
    z-index: -1;
    transition: transform 0.5s ease;
}

.btn-1:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5), 10px -10px 25px 0 rgba(39, 200, 255, 0.5);
}

.btn-1:hover::after {
    transform: rotate(150deg);
}
