<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<!--/*@thymesVar id="authenticationController" type="sk.tuke.gamestudio.server.controller.authenticationController"*/-->

<div style="color:white;" th:fragment="header">
    <h1>Welcome to <a href="/">GameStudio!</a></h1>
    <span th:if="${@authenticationController.isUserLogged()}">
        <p> Logged as: <span style="color:yellow;" th:text="${@authenticationController.getLoggedUserName()}"> </span></p>
        </span>
    <span th:if ="not ${@authenticationController.isUserLogged()}">
        <p> <span style="color:yellow;"> Not logged. Please </span>
        <a href="/">log or register.</a><br>
        </p>
        </span>
</div>

<div style="color:white;" th:fragment="footer">
    <hr/>
    This is 1024 game! Developed by me kekW.<br>
</div>

</html>