<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/stylesheet.css"/>
</head>
<body>

    <div class="wrapper">
        <ul class="nav-area">
            <li><a href="#">home</a></li>
            <li><a href="#">####</a></li>
            <li><a href="#">$$$$</a></li>
        </ul>
    </div>

    <div class="welcome-text">
        <h1> 1024 </h1>
        <p> Game State: <span style="color:green;" th:text="${@game1024Controller.getState()}"> </span> </p>
        <p><a href="/1024/new" class="btn btn-2" > New Game </a></p>
    </div>

    <div class="field">
        <span th:utext="${@game1024Controller.getHtmlField()}"> </span>
        <span th:utext="${@game1024Controller.getMoveButtons()}"> </span>
    </div>

</body>
</html>