<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gamestudio</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesheet.css"/>
</head>
<body>
    <div class="welcome-text">
        <h1>Welcome to 1024!</h1>
        <hr/>
    </div>
    <div class="container">
        <span th:if ="${@authenticationController.isUserLogged()}">
            Logged user: <span th:text="${@authenticationController.getLoggedUserName()}"> </span>
            <div class="buttons">
                <a href="/game1024" class="btn btn-1" >Play Game</a>
            </div>
        </span>

        <span th:if ="${not @authenticationController.isUserLogged()}">
            You are not logged in.<hr/>

            Register and/or Login<br>to your account.
            <div class="buttons">
                <a href="/login" class="btn btn-1" >Login</a>
                <a href="/register" class="btn btn-1" >Register</a>
                <hr/>Or you can play<br>as a guest.
                <a href="/game1024" class="btn btn-1" >Play as guest</a>
            </div>
        </span>
    </div>

    <div class="bottom-panel">
        <span id="text-before-creator">
            Created by Ihor Bondarenko.
        </span>
        <ul class="nav-area">
            <li><a href="https://github.com/Olbee">GitHub</a></li>
            <li><a href="https://www.instagram.com/lil_olbee/?hl=ru">instagram</a></li>
        </ul>
    </div>

</body>
</html>