<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gamestudio</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/stylesheet.css"/>
</head>
<body>

    <div class="welcome-text">
        <h1> WELCOME! </h1>
        <p> please login to continue </p>
    </div>

    <div class="container">
        <div class="buttons">
            <a href="/login" class="btn btn-2" >Login</a>
            <a href="/register" class="btn btn-2" >Register</a>
        </div>
    </div>

    <div th:replace="fragments::footer"></div>

</body>
</html>